iframe {
  width: 100vw;
  height: 25vh;
  position: absolute;
  top: 500px;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .header {
    width: 100vw;
    height: 81px;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #000000;
    position: fixed;
  }

  .headerContents {
    width: inherit;
    height: 81px;
    display: flex;
    position: relative;
  }

  .header h1 {
    width: 75%;
    height: 81px;
    padding-top: 30px;
    font-size: 16px;
    font-weight: 900;
  }

  .header img {
    width: 28px;
    height: 26px;
    position: absolute;
    left: 0px;
    top: 25px;
  }

  ul {
    width: fit-content;
    height: 81px;
    display: flex;
    align-items: center;
    display: none;
  }

  ul li {
    margin: 10px;
    display: none;
  }

  ul i {
    margin: 5px;
    display: none;
  }

  header button {
    background-color: transparent;
    border: none;
  }

  /*section01*/
  .section01 {
    width: 100vw;
    height: 581px;
    background-color: #ffffff;
    background-position: center;
    background-size: contain;
    overflow-y: hidden;
  }

  .mainTitle {
    display: none;
  }
  .mobileTitle {
    width: 80vw;
    height: 301px;
    margin: 0 auto;
    margin-top: 150px;
    display: block;
  }

  .section01Contents {
    width: inherit;
    height: 100%;
    margin: 0 auto;
  }
  /*section02*/
  .section02 {
    width: 100vw;
    height: 903px;
    background-color: #f5f5f5;
    overflow-y: hidden;
  }

  .section02Contents {
    width: 100vw;
    height: 903px;
    margin: 0 auto;
  }

  .titleBox {
    width: 85%;
    height: 191px;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
  }
  .titleBoxSub {
    width: 100%;
    height: 391px;
    position: absolute;
    top: 470px;
    color: black;
    border: 1px solid red;
  }

  .titleBox p {
    font-size: 2.5rem;
    font-weight: 400;
  }

  .titleBox h2 {
    font-size: 6.5rem;
    font-weight: 400;
    float: right;
    text-align: right;
    line-height: 100px;
  }

  .titleBox p {
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 10px;
  }

  .titleBox h2 {
    font-size: 3.5rem;
    font-weight: 400;
    float: right;
    text-align: right;
    line-height: 50px;
    margin-top: 40px;
  }
  /*section03*/
  .section03 {
    width: 100vw;
    height: 2442.75px;
    background-color: var(--color-ytellow);
    overflow-y: hidden;
  }

  .section03Contents {
    width: inherit;
    height: 100%;
    margin: 0 auto;
  }
  .section03 .titleBox {
    width: 85vw;
    height: 391px;
    position: absolute;
    top: 50px;
    border-bottom: 1px solid black;

    color: black;
  }

  .section03 .titleBoxSub {
    width: 85vw;
    height: 191px;
    position: absolute;
    top: 470px;
    color: black;
  }
  .video-wrap {
    width: 100%;
    height: fit-content;
    margin-top: 700px;
  }
  /*section04*/
  .section04 {
    width: 100vw;
    height: 893px;

    background-color: var(--color-white);
    overflow-y: hidden;
  }

  .section04Contents {
    width: inherit;
    height: 100%;
    margin: 0 auto;
  }
  /*section05*/
  .section05 {
    width: 100vw;
    height: fit-content;

    background-color: #000000;
    overflow-y: hidden;
  }

  .section05 img {
    width: 430px;
    height: 580px;
  }

  .section05pieces {
    width: 42.5vw;
    height: 556px;
    border: 1px solid red;
  }
  .section05piecesTop {
    width: 42.5vw;
    height: 281px;
    border: 1px solid white;
  }

  .section05piecesTop p {
    font-size: 2.5rem;
    font-weight: 300;
  }

  .section05pieces2 {
    width: 42.5vw;
    height: 556px;
    border: 1px solid red;
  }
  .section05piecesTop2 {
    width: 42.5vw;
    height: 281px;
    border: 1px solid white;
  }

  .section05piecesTop2 p {
    font-size: 2.5rem;
    font-weight: 300;
  }
  #blogDiv {
    width: 100vw;
    height: 900px;
    background-color: #66f670;
    float: left;
  }
  #musicDiv {
    width: 100vw;
    height: 900px;
    background-color: #902df5;
    float: right;
  }
  #placeDiv {
    width: 100vw;
    height: 900px;
    background-color: #f5f5f5;
    float: left;
  }
  #eXpertDiv {
    width: 100vw;
    height: 900px;
    background-color: #4a65f6;
    float: right;
  }
  #webtoonDiv {
    width: 100vw;
    height: 500px;
    background-color: #170062;
    float: left;
  }
  #reportDiv {
    width: 100vw;
    height: 500px;
    background-color: #07043a;
    float: left;
  }
  /*section06*/
  .section06 {
    width: 100vw;
    height: 893px;

    background-color: var(--color-black);
    overflow-y: hidden;
  }

  .section06Contents {
    width: inherit;
    height: 100%;
    margin: 0 auto;
  }

.footer{
  width: 100vw;
  height: 893px;

  background-color: var(--color-black);
  overflow-y: hidden;
}


}
